/* h1 {
    font-weight: 700;
}

label {
    font-size: large;
    font-weight:500;
}

.split {
    height: 100%;
    width: 50%;
    position: fixed;
    top: 15%;
    overflow-x: hidden;
}

input[type=text], input[type=email], input[type=message] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
  } */


.split {
    height: 100%;
    width: 60%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
}

.left {
    left: 0;
    background-image: url(https://images.pexels.com/photos/2409038/pexels-photo-2409038.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2);
}

.right {
    right: 0;
    background-color: whitesmoke;
    padding: 100px;
}

h1 {
    font-weight: 800;
    color: rgb(49, 47, 47);
}

label {
    font-weight: 500;
}

input {
    width: 100%;
    padding: 16px 9px;
    box-sizing: border-box;
    margin: 2px 0;
    border: none;
    border-bottom: 2px solid gray;
    background-color: whitesmoke;
}

/* input:focus {
    background-color: white;
} */

button {
    border-radius: 8px;
    background-color: #2e6930;
    border: none;
    color: white;
    padding: 10px 20px;
    font-weight: 400;
    font-size: 16px;
    margin: 10px 2px;
}

.error {
    color: tomato;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.spinner {
    display: flex;
    justify-content: center;
    margin-top: 25%;
    background-color: antiquewhite;
}